main {
    padding-bottom: 30px;
}

main h1{
    text-align: center; 
    padding: 50px 0 75px;
}

main p{
    font-family: "Inter";
    font-size: 20px;
    padding-bottom: 30px;
}

@media(max-width:750px){
    main p{
        font-size: 15px;
    }
}